<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id = "testBean"-->
<!--          class="spring.SpringApplication">-->
<!--                <constructor-arg value="Никита"/>-->
<!--    </bean>-->

    <context:property-placeholder location="classpath:data.properties"/>

    <bean id = "MF"
          class="spring.Summation">
    </bean>

    <bean id = "AO"
          class="spring.ArithmeticOperation">
        <property name="mathematicalFunction" ref="MF"/>

<!--        <property name="value1" value="10"/>-->
<!--        <property name="value2" value="20"/>-->
        <property name="value1" value="${value1.data}"/>
        <property name="value2" value="${value2.data}"/>

    </bean>

</beans>